<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

 
<!--
    <div>
    <%= form.label :customer_id, style: "display: block" %>
    <%= form.text_field :customer_id %>
  </div>
-->

  <div>
    <%= form.label :movie_id, style: "display: block" %>
    <%= form.select :movie_id, options_for_select( Customer.all.pluck( :name, :id)) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>



<!-- 9 linea 24 a 27 agregue un nuevo campo al formulario para que muestre el nombre de-->
<!-- quien arrendó la peli, pero no olvidar para q funcione modificar tb el params-->
<!-- de movies_controller, lo saqué xq no tenía sentido ._. -->
<!-- del 30 al 33 al editar una pelicula le puedo asignar un cliente-->